<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 


    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        liff.init({
            liffId: '1234567890-AbcdEfgh', // Use own liffId
            withLoginOnExternalBrowser: true, // Enable automatic login process
        }).then(() => {
            getUserProfile()
        });
        
        async function getUserProfile() {
            const profile = await liff.getProfile()
            document.getElementById("pictureUrl").src = profile.pictureUrl
            document.getElementById("displayName").append(profile.displayName)
            document.getElementById("statusMessage").append(profile.statusMessage)
        }

        function logOut() {
            liff.logOut()
            window.location.reload()
        }

    </script>
    <h1> LINE login</h1>
    <img id="pictureUrl">
    <p id ="displayName"><b>displayName:</b></p>
    <p id = "statusMessage"><b>statusMessage:</b></p>
    <button id ="btnLogOut" onclick="logOut()">Log out</button>
</body>
</html>