<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> LINE login</h1>
    <img id="pictureUrl">
    <p id ="displayName"><b>displayName:</b></p>
    <p id = "statusMessage"><b>stausMessage:</b></p>
    <button id ="btnLogOut" onclick=logOut()>Log out</button>


    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        async function main() {
            await liff.init({liffId:"1656889718-KMoBB5el"})
            if (liff.isLoggedIn()) {
                getUserProfile()
            } else {
                console.log("Not login")
                liff.login()
            }
        }
        main()
        
        async function getUserProfile() {
            const profile = await liff.getProfile()
            document.getElementById("pictureUrl").src = profile.pictureUrl
            document.getElementById("displayName").append(profile.displayName)
            document.getElementById("statusMessage").append(profile.statusMessage)
        }

        function logOut() {
            liff.logout()
            window.location.reload()
            window.close()
        }
    </script>

</body>
</html>